{
  "extends": "stylelint-config-standard",
  "plugins": [
      "stylelint-declaration-use-variable"
   ],
  "rules": {
    "declaration-block-properties-order": "alphabetical",
    "string-quotes": "single"
  }
}